<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938427947842-oncbch7m4if8kr56s9spbvdj3e564vcf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938427947842-oncbch7m4if8kr56s9spbvdj3e564vcf</string>
	<key>API_KEY</key>
	<string>AIzaSyAOIvb5j1yTgBxvOChbfi1cAszghv7f8hw</string>
	<key>GCM_SENDER_ID</key>
	<string>938427947842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oe526.ScanApp</string>
	<key>PROJECT_ID</key>
	<string>scanapp-a995d</string>
	<key>STORAGE_BUCKET</key>
	<string>scanapp-a995d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938427947842:ios:2b7b2cfdc2fffa4d</string>
	<key>DATABASE_URL</key>
	<string>https://scanapp-a995d.firebaseio.com</string>
</dict>
</plist>